In [ ]:
childs = {
    "child_no" : [1,2,3,4],
    "name" : ['jamal', 'Rakib','Opu','Lipu'],
    "year" : [2001, 2002,2003,2004]
}
import pandas as pd
df = pd.DataFrame(childs)

In [ ]:
df.to_excel("childs.xlsx")

In [ ]:
myfamily = {
    "child1" :{
        "name" : "kamla",
        "DOB" : 2001
    },
    "child2" :{
        "name" : "Chosa Rakib",
        "DOB" : 2002
    },
    "child3" :{
        "name" : "Topu",
        "DOB" : 2000
    }
}

In [ ]:
person =  {
   "name" : "Brad",
   "age" : 35,
   "job" : "Habijabi",
   "city" :"NaiCity",
   "email" : "brad@gmail.com"
}
person
type(person)

dict

In [ ]:
person["age"]

35

In [ ]:
person["height"] = 5.4
person

{'name': 'Brad',
 'age': 35,
 'job': 'Habijabi',
 'city': 'NaiCity',
 'email': 'brad@gmail.com',
 'height': 5.4}

In [ ]:
person.keys()

dict_keys(['name', 'age', 'job', 'city', 'email', 'height'])

In [ ]:
per = {
    "name" : "Brad",
    "age" : 35,
    "job" : "Habijabi",
    "city" :"NaiCity",
    "email" : "brad@gmail.com"
}

for keys in per.keys():
  print(keys, "=>", per[keys])

name => Brad
age => 35
job => Habijabi
city => NaiCity
email => brad@gmail.com



```
# This is formatted as code
```

##Python Tuple
my_tuple = ("Apple","banana","mango")
my_tuple

In [ ]:
a_tuple = ("a",)#tuple e ekta item er jonno , use korte hbe ar nahole eta string dekhabe

a_tuple
type(a_tuple)

tuple

In [ ]:
type(my_tuple) #tuple is immutable tai kisu add delete or change kora jai na. tai Run time fast execution time fast

tuple

In [ ]:
!python -m timeit "x = (1,2,3,4,5,6,7)"
!python -m timeit "x = [1,2,3,4,5,6,7]"

20000000 loops, best of 5: 17.5 nsec per loop
5000000 loops, best of 5: 64.7 nsec per loop

In [ ]:
nested =  [1,2,3,"Mango",[4,5,6],[8,9,7]]
print(nested[-1][1])

9